# Cloudflare D1
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

# Cloudflare Turnstile
# Get these from https://dash.cloudflare.com/?to=/:account/turnstile
TURNSTILE_SECRET_KEY=""
PUBLIC_TURNSTILE_SITE_KEY=""
